---
---

@charset "utf-8";

// Site variables
$base-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$color-dark: #101010;
$color-less-dark: #181818;
$dark-border-color: rgba(255, 255, 255, 0.1);

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base",
	"code",
	"global",
	"home",
	"posts",
	"about"
;
