---
---

@charset "utf-8";

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src: url('/fonts/Inter-Regular.woff') format('woff'),
         url('/fonts/Inter-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    src: url('/fonts/Inter-Italic.woff') format('woff'),
         url('/fonts/Inter-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src: url('/fonts/Inter-Medium.woff') format('woff'),
         url('/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: italic;
    src: url('/fonts/Inter-MediumItalic.woff') format('woff'),
         url('/fonts/Inter-MediumItalic.woff2') format('woff2');
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src: url('/fonts/Inter-SemiBold.woff') format('woff'),
         url('/fonts/Inter-SemiBold.woff2') format('woff2');
}

// Site variables
$base-font-family: 'Inter', sans-serif;
$base-font-size: 100%;
$base-font-weight: 400;
$spacing-unit: 1.8em;
$color-dark: #101010;
$color-less-dark: #181818;
$dark-border-color: rgba(255, 255, 255, 0.1);
$background-color: #f1d7de;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"base",
	"global",
	"home",
	"posts",
	"about",
	"work"
;
