---
title: Home
layout: home
---

<div class="intro">
	<h1>Sam Hermes</h1>
	<p class="subtitle">Front-End Developer</p>
	<ul class="home-nav">
		<li>
			<a href="/posts">Posts</a>
		</li>
		<li>
			<a href="/projects">Projects</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
	</ul>
	<img src="/img/samhermes-large.jpg" alt>
</div>