html {
	height: 100%;
	background: #f8f8f8;
}
html, body {
	border:0;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Rubik', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #1D1D1D;
	min-height: 100%;
	background: #f8f8f8;
}
footer, header {
	display: block;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #1D1D1D;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
header {
	margin: 0 auto;
	padding: 30px 0;
	width: 100%;
	background: #fff;
}
.name {
	float: left;
	line-height: 1;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6em;
	text-transform: uppercase;
	letter-spacing: 2.2px;
	margin-left: 4%;
}
header ul {
	float: right;
	list-style: none;
	margin: 0 4% 0 0;
	padding: 0;
}
header li {
	float: left;
	margin-left: 25px;
	text-transform: uppercase;
	font-size: 12px;
}
header li a {
	padding: 6px 5px;
	display: block;
}
header li:first-child {
	margin-left: 0;
}
header li:last-child {
	margin-right: -5px;
}
.toggle {
	display: none;
}
@media screen and (max-width: 500px) {
	header {
		padding: 20px 0;
	}
	.name {
		letter-spacing: 1.6px;
	}
	header ul {
		float: none;
		display: none;
		margin: 0 0 -20px;
		padding-top: 20px;
		clear: both;
	}
	header li {
		float: none;
		margin: 0;
		font-size: 14px;
		text-align: center;
	}
	header li:last-child {
		margin: 0;
		border-bottom: 1px solid rgb(240, 240, 240);
	}
	header li a {
		padding: 10px 0;
		border-top: 1px solid rgb(240, 240, 240);
	}
	.toggle {
		display: block;
		float: right;
		margin-right: 4%;
		padding: 3px 0 0;
	}
	.toggle.open img {
		transform: rotate(180deg);
	}
	.open + ul {
		display: block;
	}
}
.latest-posts,
.posts {
	max-width: 800px;
	width: 92%;
	padding: 5% 0 1%;
	margin: 0 auto;
	list-style: none;
}
@media screen and (max-width: 500px) {
	.latest-posts,
	.posts {
		padding-top: 8%;
	}
}
.latest-posts li {
	margin-bottom: 10%;
}
.posts li {
	margin-bottom: 40px;
}
.latest-posts h2,
.posts h2 {
	font-weight: 400;
	letter-spacing: 0.3px;
	margin: 0;
}
.latest-posts a:hover,
.posts a:hover {
	text-decoration: underline;
}
.latest-posts time,
.posts time {
	font-size: 0.8em;
	letter-spacing: 0.3px;
	display: block;
	margin-bottom: 8px;
}
.latest-posts p {
	font-size: 1.2em;
	line-height: 1.5;
	margin: 1em 0;
}
.latest-posts .continue {
	content: 'Continue Reading &gt;';
	display: inline-block;
	text-transform: uppercase;
	vertical-align: top;
	margin-top: 3px;
	background: #e8e8e8;
	border-radius: 4px;
	color: #707070;
	font-size: 12px;
	padding: 2px 10px;
	transition: 0.1s;
}
.latest-posts .continue:hover {
	background: #e0e0e0;
	text-decoration: none;
}
.view-all-posts {
	text-align: center;
}
.view-all-posts a {
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 12px;
	color: #707070;
	background: #e8e8e8;
	text-transform: uppercase;
	transition: 0.1s;
	display: inline-block;
}
.view-all-posts a:hover {
	background: #e0e0e0;
}


/* POSTS */

.post {
	margin: 0 auto;
	max-width: 800px;
	padding: 5% 0 3%;
	width: 92%;
}
@media screen and (max-width: 500px) {
	.post {
		padding-top: 8%;
	}
}
.post .post-date {
	font-size: 1em;
	margin: 0 0 10px;
	letter-spacing: 0.3px;
	display: block;
}
.post h1 {
	font-size: 1.8em;
	margin: 0 0 4.2%;
	font-weight: 400;
	letter-spacing: -0.3px;
}
.post p {
	font-size: 1.3em;
	line-height: 1.6;
	margin: 1.2em 0;
}
.post .last-updated {
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 3em 0 0
}


/* WORK */

.work {
	width: 97.2%;
	max-width: 1556px;
	padding: 0;
	margin: 0 auto;
}
.work header {
	max-width: 1476px;
	padding: 0;
	margin: 50px auto 60px;
	background: none;
}
.work h1 {
	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 10px;
	padding: 0 2.6%;
}
.work header p {
	font-size: 1em;
	margin: 0;
	max-width: 550px;
	padding: 0 2.6%;
}
.work ul {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	list-style: none;
}
.work ul li {
	width: 33.333333%;
	display: inline-block;
	margin: 0 0 75px;
	padding: 0 2.6%;
	vertical-align: top;
	box-sizing: border-box;
}
.work ul li img {
	display: block;
	border: 1px solid rgb(240, 240, 240);
}
.work h2 {
    font-size: 1.1em;
    font-weight: 300;
    margin: 22px 0 2px;
}
.work p {
	margin: 0;
	font-size: 13px;
}
.work a {
	font-size: 15px;
}
.work a:hover {
	text-decoration: underline;
}
@media screen and (max-width: 1000px) {
	.work ul li {
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.work ul li {
		width: 100%;
	}
}


/* ABOUT */

.about {
	margin: 0 auto;
	max-width: 800px;
	padding: 5% 0 0;
	width: 92%;
}
.about h1 {
	font-weight: normal;
	font-size: 1.8em;
	margin: 0 0 50px;
}
.about p {
	font-size: 1.3em;
	line-height: 1.6;
	margin: 1.2em 0;
}
.about img {
	max-width: 200px;
	margin: 0 auto 25px;
	display: block;
}
.about .intro {
	font-size: 1.5em;
	max-width: 450px;
	margin: 0 auto 50px;
	text-align: center;
}


/* FOOTER */

footer {
	margin: 0 auto;
	padding: 150px 0 35px;
	clear: both;
	color: #999;
	text-align: left;
	background: #f8f8f8;
}
@media screen and (max-width: 700px) {
	footer {
		padding: 80px 0 4.5%;
	}
}
.copyright {
	margin: 0 0 0 4%;
	padding: 0;
	font-size: 0.8em;
}
.contact {
	list-style: none;
	margin: 0 4% 0 0;
	padding: 0;
	font-size: 0.9em;
	float: right;
}
.contact li {
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	display: inline-block;
}
.contact li:last-child {
	margin-left: 20px;
}
.contact li a {
	color: #999;
	-webkit-transition: .1s linear;
	transition: .1s linear;
}
.contact li a:hover {
	color: #666;
}
.fourohfour .main {
	max-width: 1200px;
	width: 92%;
	margin: 50px auto 0;
	text-align: center;
	line-height: 1.5;
	font-size: 0.9em;
}
.fourohfour .main h2 {
	font-size: 4.04em;
	color: #515151;
	font-weight: 300;
	margin: 0;
}
.fourohfour .main a {
	text-decoration: underline;
}


/* PROJECT SPECIFIC */

.stlmetrolink {
	background: rgb(51,198,244);
	background: -moz-linear-gradient(-45deg,  rgb(51,198,244) 0%, rgb(45,69,152) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(51,198,244)), color-stop(100%,rgb(45,69,152)));
	background: -webkit-linear-gradient(-45deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	background: -o-linear-gradient(-45deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	background: -ms-linear-gradient(-45deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	background: linear-gradient(135deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33c6f4', endColorstr='#2d4598',GradientType=1 );
}
.stlmetrolink header,
.stlmetrolink footer {
	background: none;
}
.stlmetrolink .toggle img {
	-webkit-filter: contrast(200%);
	filter: contrast(200%);
}
.stlmetrolink .name a,
.stlmetrolink header a {
	color: #fff;
}
.stlmetrolink .project {
	color: #fff;
	margin: 7% auto;
	width: 92%;
	text-align: center;
}
.stlmetrolink .project img {
	width: 200px;
	padding: 0 0 30px;
}
@media screen and (max-width: 500px) {
	.stlmetrolink .project img {
		width: 150px;
	}
}
.stlmetrolink .project h2 {
	text-align: center;
	font-weight: 300;
	margin: 0 0 10px;
}
.stlmetrolink .project .type {
	text-transform: uppercase;
	font-size: 0.75em;
	text-align: center;
	margin: 0 0 50px;
}
.stlmetrolink .desc {
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0 0;
}
.stlmetrolink .desc p {
	color: rgba(255,255,255,0.9);
	margin: 0 0 1.4em;
	width: 100%;
}
.stlmetrolink .desc p a {
	color: rgba(255,255,255,0.7);
	transition: color 0.1s;
}
.stlmetrolink .desc p a:hover {
	color: rgba(255,255,255,0.9);
}
a.launch-stlmetrolink {
	display: inline-block;
	padding: 10px 25px;
	background: rgba(49, 141, 203, 0.78);
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	margin: 10px 0 30px;
	border: 1px solid rgba(255,255,255,0.3);
	transition: border 0.1s;
	border-radius: 3px;
}
a.launch-stlmetrolink:hover {
	border-color: rgba(255,255,255,0.5);
}
.stlmetrolink .article-link {
	font-size: 1em;
}
.stlmetrolink footer,
.stlmetrolink .contact li a {
	color: rgba(255,255,255,0.85);
}
.stlmetrolink .contact li a:hover {
	color: rgba(255,255,255,0.5);
}
code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}
pre[class*="language-"] {
	padding: 1em;
	overflow: auto;
	border-radius: 5px;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #1f2223;
}
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}
.token.punctuation {
	color: #f8f8f2;
}
.namespace {
	opacity: .7;
}
.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}
.token.boolean,
.token.number {
	color: #ae81ff;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}
.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74;
}
.token.keyword {
	color: #66d9ef;
}
.token.regex,
.token.important {
	color: #fd971f;
}
.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}
.token.entity {
	cursor: help;
}
