html {
	background: #fff;
	height: 100%;
}
html, body {
	border:0;
	margin: 0;
	padding: 0;
}
body {
	color: #333;
	font-family: 'Quattrocento Sans', sans-serif;
	font-weight: normal;
	min-height: 100%;
}
footer, header {
	display: block;
}
.group:after {
	content: "";
	display: table;
	clear: both;
}
a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: #1D1D1D;
}
img {
	border: 0;
	max-width: 100%;
	height: auto;
}
header {
	padding: 20px 0 23px;
	border-bottom: 1px solid #efefef;
}
header.home {
	padding: 110px 0;
	border-bottom: none;
}
@media screen and (max-width: 1200px) {
	header.home {
		padding: 75px 0 65px;
	}
}
@media screen and (max-width: 700px) {
	header.home {
		padding: 55px 0 45px;
	}
}
.name {
	display: block;
	border: none;
	line-height: 1;
	font-family: 'Playfair Display SC', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
	font-size: 2.6em;
	font-style: italic;
	color: #515151;
	margin: 0 auto;
	width: 92%;
	text-align: center;
	margin: 0 0 9px;
	padding: 0;
	width: auto;
	max-width: 100%;
}
.home .name {
	font-size: 3em;
	margin: 0 0 10px;
}
header p {
	color: #515151;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 0.6em;
}
header.home p {
	font-size: 0.7em;
}
.name a {
	color: #515151;
}


/* HOME */

.recent-work {
	width: 92%;
	max-width: 1225px;
	margin: 0 auto 50px;
}
.recent-work ul {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	list-style: none;
}
.recent-work ul li {
	width: 33.333333%;
	display: inline-block;
	margin: 0 0 25px;
	padding: 0 1%;
	vertical-align: top;
	box-sizing: border-box;
}
.recent-work ul li img {
	display: block;
}
@media screen and (max-width: 1000px) {
	.recent-work ul li {
		width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.recent-work {
		width: 100%;
	}
	.recent-work ul li {
		width: 100%;
		padding: 0;
	}
}


/* PROJECTS */

.project {
	margin: 0 auto 40px;
	max-width: 1200px;
	padding-bottom: 20px;
	width: 92%;
}
.project img {
	display: block;
	margin: 0 auto;
	padding: 15px 0;
	width: 1200px;
}
.project-info {
	padding: 30px 0 10px;
	position: relative;
}
.title {
	float: left;
	width: auto;
}
.title h2 {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0 0 5px;
	padding: 0;
}
.title p {
	margin: 0;
	padding: 0;
}
.details {
	float: right;
	width: auto;
	text-align: right;
}
.details .when {
	margin: 0 0 10px;
	font-size: 0.9em;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	text-transform: uppercase;
}
.desc {
	margin: 50px 0;
}
.desc p {
	max-width: 700px;
	width: 90%;
	color: #000;
	margin: 0 auto 1.4em;
	font-size: 1.2em;
}


/* FOOTER */

footer {
	margin: 0 auto;
	padding: 15px 0 20px 0;
	clear: both;
	width: 90%;
	max-width: 1200px;
	color: #999;
	text-align: left;
}
.copyright {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 0.8em;
}
.contact {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	float: right;
}
.contact li {
	padding: 0;
	margin: 0;
	font-size: 0.8em;
	display: inline-block;
}
.contact li:last-child {
	margin-left: 20px;
}
.contact li a {
	color: #999;
	-webkit-transition: color .1s linear;
	transition: color .1s linear;
}
.contact li a:hover {
	color: #666;
}
.border {
	border-bottom: 1px solid #CCC;
}
.fourohfour .main {
	max-width: 1200px;
	width: 92%;
	margin: 50px auto 0;
	text-align: center;
	line-height: 1.5;
	font-size: 0.9em;
}
.fourohfour .main h2 {
	font-size: 4.04em;
	color: #515151;
	font-weight: normal;
	margin: 0;
}
.fourohfour .main a {
	text-decoration: underline;
}