---
pagination:
  data: collections
  size: 1
  alias: category
filter:
  - all
  - post
  - projects
  - posts
layout: default
eleventyComputed:
  title: {{ category }}
permalink: /category/{{ category | slug }}/
---

<div class="contain">
  <header class="page-header category-header">
    <h1 class="page-title">Category: {{ category }}</h1>
  </header>

  {% set postslist = collections[category] | reverse %}

  <ul class="post-list">
    {% for post in postslist %}
    <li>
      <span class="post-meta">{{ post.date | date: "%B %e, %Y" }}</span>
      <h3 class="post-title">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"></a>{{ post.data.title }}</a>
      </h3>
    </li>
    {% endfor %}
  </ul>
</div>