<footer class="site-footer group">
	<div class="contain">
		<ul class="site-nav">
			<li><a href="/lists">Lists</a></li>
			<li><a href="https://samhermes.typeform.com/to/d4C4FT">Contact</a></li>
		</ul>

		<ul class="social">
			<li>
				<a href="https://codepen.io/samhermes">
					{% include codepen.svg %}
					<span class="screen-reader-text">Sam Hermes on CodePen</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/samhermes">
					{% include github.svg %}
					<span class="screen-reader-text">Sam Hermes on GitHub</span>
				</a>
			</li>
		</ul>
	</div>
</footer>

{% if page.custom_js %}
{% for js_file in page.custom_js %}
{% if page.layout == 'post' %}
<script src="/js/{{ js_file }}.js"></script>
{% else %}
<script src="/{{ js_file }}.js"></script>
{% endif %}
{% endfor %}
{% endif %}

</html>