<footer class="site-footer group">
	<ul class="site-nav">
		<li><a href="https://samhermes.typeform.com/to/d4C4FT">Contact</a></li>
	</ul>
	{% include pride.svg %}
	<ul class="social">
		<li><a href="https://codepen.io/samhermes"><img src="/img/codepen.svg" alt="CodePen"><span class="screen-reader-text">Sam Hermes on CodePen</span></a></li>
		<li><a href="https://github.com/samhermes"><img src="/img/github.svg" alt="GitHub"><span class="screen-reader-text">Sam Hermes on GitHub</span></a></li>
	</ul>
</footer>

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
<script src="/js/{{ js_file }}.js"></script>
  {% endfor %}
{% endif %}
</html>