<footer class="site-footer group">
	<div class="contain">
	<ul class="site-nav">
		<li><a href="https://samhermes.typeform.com/to/d4C4FT">Contact</a></li>
	</ul>
	<a href="/gay">
		{% include pride.svg %}
	</a>
	<ul class="social">
		<li><a href="https://codepen.io/samhermes"><img src="/img/codepen.svg" alt="Sam Hermes on CodePen"></a></li>
		<li><a href="https://github.com/samhermes"><img src="/img/github.svg" alt="Sam Hermes on GitHub"></a></li>
	</ul>
	</div>
</footer>

{% if page.custom_js %}
  {% for js_file in page.custom_js %}
<script src="/js/{{ js_file }}.js"></script>
  {% endfor %}
{% endif %}
<script>
if ('serviceWorker' in navigator) {
	navigator.serviceWorker.register('/js/service-worker.js');
}
</script>
</html>