.page-next-spacex-launch,
.page-not-found {
    background: #1d1d1d;

    .site-header,
    .site-footer {
        background: #2e2e2e;
    }

    .logotype path {
        fill: #fff;
    }

    .site-nav a {
        color: #fff;

        &:hover {
            background: #fff;
            color: #1D1D1D;
        }
    }

	.page {
		background: #1d1d1d;
	}

	.page-title {
		color: #fff;
    }

    .social svg path {
        fill: #fff;
    }
}