.page {
  background: #fff;
  min-height: calc(100vh - 7.66rem);
}

.site-header {
  padding: 0.7em 5%;
  margin: 0 auto;

  @media screen and (min-width: 45.625em) {
    padding: 0.7em 1.65em;
  }

  .contain {
    display: flex;
    align-items: center;
  }

  svg {
    display: block;

    path {
      fill: #090909;
    }
  }

  .logotype {
    display: block;

    svg {
      width: 130px;
      height: 16px;
      margin: 0.4em 0;

      @media screen and (min-width: 28.125em) {
        width: 160px;
        height: 20px;
        margin: 0.5em 0;
      }
    }
  }
}

/* Site Navigation */

.site-nav {
  list-style: none;
  margin: 0 -0.625rem 0 auto;
  padding: 0;

  li {
    float: left;
    font-size: 0.75em;
    text-transform: uppercase;

    @media screen and (min-width: 28.125em) {
      margin-left: 0.3rem;
    }

    &:first-child {
      margin-left: 0;
    }

    a {
      color: #090909;
      display: block;
      padding: 0.5rem 0.625rem;
      border-radius: 0.4em;
      font-weight: 500;

      &:hover {
        background: #fff;
      }
    }
  }
}

/* Site Footer */

.site-footer {
  box-sizing: border-box;
  padding: 1em 5%;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: 45.625em) {
    padding: 1em 1.65em;
  }

  .contain {
    display: flex;
    flex-wrap: wrap;
  }

  .site-nav {
    margin: 0 0 0 -0.625rem;
  }
}

.social {
  list-style: none;
  padding: 0;
  margin: 0.8em 0 0 0;

  @media screen and (min-width: 23.125em) {
    margin: 0.125em 0 0 auto;
  }

  li {
    float: left;
    margin-left: 1.25em;

    &:first-child {
      margin-left: 0;
    }

    svg {
      width: 1.7em;
      height: auto;
    }

    a {
      opacity: 1;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* 404 Page */

.page-not-found {
  .page {
    background: #000;
  }
}

.fourzerofour {
  max-width: 75em;
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
  text-align: center;
  line-height: 1.5;
  box-sizing: border-box;

  @media screen and (min-width: 28.125em) {
    margin: 0 auto;
  }

  p {
    color: #fff;
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  .filterwrapper {
    position: absolute;
    z-index: -1;
    pointer-events: none;
    opacity: 0;
  }

  .svgtext {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
  }

  .fourzerofour-wrapper {
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 4em 0 2em;
  }

  .fourzerofour-filtered-text {
    filter: url(#filter);
    fill: #fff;
    font-size: 6.25rem;
    text-align: center;
    margin: 0;
    padding: 0;
    display: block;

    @media screen and (min-width: 28.125em) {
      font-size: 9.3rem;
    }
  }

  .top-r,
  .bot-r,
  .top-g,
  .bot-g {
    stroke: #fff;
  }

  .top-r {
    stroke-width: 100px;
    animation: top 3.5s linear infinite;
  }

  .bot-r {
    stroke-width: 100px;
    animation: bottom 4s linear infinite;
  }

  .top-g {
    stroke-width: 50px;
    animation: top 4s linear reverse infinite;
  }

  .bot-g {
    stroke-width: 50%;
    animation: bottom 3.5s linear reverse infinite;
  }

  @mixin createRandomKeyframes( $numberOfKeys ) {
    $delta: round(100/$numberOfKeys);

    @for $i from 1 through $numberOfKeys {
      $time: ($i*$delta - random($delta)) +'%';
      #{$time} {
        stroke-width: random(200) + px;
      }
    }
  }

  @keyframes top {
    @include createRandomKeyframes( 10 + random(10) );
  }

  @keyframes bottom {
    @include createRandomKeyframes( 10 + random(10) );
  }
}
