.site-header {
  padding: 2rem 0 1rem;
  margin: 0 auto;
  width: 100%;
  color: #fff;
  
  @media screen and (min-width: 37.5em) {
    padding: 3rem 0 1.25rem;
  }

  .contain {
    display: flex;
    align-items: center;
    margin: 0 var(--site-edge);
  }

  .logotype {
    transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: opacity;
    position: relative;
    display: inline-flex;
    font-size: 1.2rem;
    font-weight: 400;
    color: inherit;

    @media screen and (min-width: 37.5em) {
      font-size: 1.5rem;
    }

    &:hover {
      opacity: 0.5;
    }
  }
}

/* Site Navigation */

.site-nav {
  margin: 0 0 0 auto;

  ul {
    list-style: none;
    margin: 0 -0.5rem 0 0;
    padding: 0;
    display: flex;
  }

  li {
    font-size: 0.875rem;

    @media screen and (min-width: 25em) {
      margin-left: 0.5rem;
    }

    @media screen and (min-width: 37.5em) {
      margin-left: 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
      padding: 0.5rem;
      font-weight: 400;
      transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);
      color: inherit;

      @media screen and (min-width: 37.5em) {
        padding-bottom: 0.2rem;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* Page Elements */

.page {
  min-height: calc(100vh - 11rem);
  color: var(--color-text);

  .contain {
    max-width: 48rem;
    margin: 0 auto;
    padding: 2rem 0 7rem;
    width: 90%;

    @media screen and (min-width: 37.5em) {
      padding: 3rem 0 7rem;
    }
  }
}

.page-title {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.2;

  @media screen and (min-width: 37.5em) {
    font-size: 1.5rem;
  }
}

a.external {
  &::after {
    content: '';
    width: 0.6em;
    height: 0.6em;
    display: inline-block;
    background: url('/img/out.svg') no-repeat;
    background-size: 100%;
    margin: 0 0 0.03em 0.4em;
  }
}

/* Site Footer */

.site-footer {
  box-sizing: border-box;
  padding: 1.5rem 0 3rem;
  margin: 0 var(--site-edge);
  position: relative;
  color: #fff;

  .contain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
  }

  .pride {
    svg {
      width: 2.2rem;
      height: auto;
      border-radius: 0.3rem;
    }
  }
}

.social {
  margin: 0 0 0 auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  li {
    margin-left: 1.25em;

    &:first-child {
      margin-left: 0;
    }

    svg {
      width: 1.4em;
      height: auto;
      display: block;
    }

    a {
      transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);
      will-change: opacity;
      display: block;
      color: inherit;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* 404 Page */

.page-not-found {
  .page {
    background-color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 6rem;
      line-height: 1;
      margin: 0 0 1rem;

      @media screen and (min-width: 45.625em) {
        font-size: 10rem;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 3rem;
    }

    a {
      text-decoration: underline;
    }
  }
}
