.site-header {
  padding: 0.7em 0;
  margin: 0 auto;
  background-color: $color-less-dark;

  @media screen and (min-width: 33em) {
    padding: 1rem 0;
  }

  .type-posts & {
    position: sticky;
    top: 0;

    @supports (backdrop-filter: none) or (--webkit-backdrop-filter: none) {
      background-color: rgba($color-less-dark, 0.7);
      -webkit-backdrop-filter: blur(18px);
      backdrop-filter: blur(18px);
    }
  }

  .contain {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 90%;

    @media screen and (min-width: 62.5em) {
      width: 95%;
    }
  }

  .full-width & .contain {
    max-width: 87.5em;
  }

  h1 {
    margin: 0;
  }

  .logotype {
    display: block;
    font-size: 1.3rem;
    font-weight: 500;
    transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);

    &:hover {
      opacity: 0.5;
    }

    @media screen and (min-width: 33em) {
      font-size: 1.5rem;
    }

    img {
      width: 160px;
    }
  }
}

/* Site Navigation */

.site-nav {
  list-style: none;
  margin: 0 -0.5rem 0 auto;
  padding: 0;
  display: flex;

  li {
    font-size: 0.9rem;
    margin-left: 0.5rem;

    @media screen and (min-width: 33em) {
      margin-left: 1rem;
      font-size: 1rem;
    }

    &:first-child {
      margin-left: 0;
    }

    a {
      display: block;
      padding: 0.5rem;
      font-weight: 500;
      transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* Page Elements */

.page {
  min-height: calc(100vh - 7.4375rem);

  @media screen and (min-width: 33em) {
    min-height: calc(100vh - 8.1875rem);
  }

  .contain {
    max-width: 42em;
    margin: 0 auto;
    padding: 2rem 0 5rem;
    width: 90%;

    @media screen and (min-width: 45.625em) {
      padding: 4rem 0 7rem;
    }
  }

  .full-width & .contain {
    max-width: 87.5em;
  }
}

.category-header {
  margin-bottom: 2.5rem;
}

.page-title {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.2;

  @media screen and (min-width: 37.5em) {
    font-size: 2.3rem;
    line-height: 1.25;
  }
}

/* Site Footer */

.site-footer {
  box-sizing: border-box;
  padding: 1rem 0;
  margin: 0 auto;
  background-color: $color-less-dark;
  position: relative;

  .contain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    width: 90%;

    @media screen and (min-width: 62.5em) {
      width: 95%;
    }
  }

  .full-width & .contain {
    max-width: 87.5em;
  }
}

.social {
  list-style: none;
  padding: 0;
  margin: 0.125em 0 0 auto;

  li {
    float: left;
    margin-left: 1.25em;

    &:first-child {
      margin-left: 0;
    }

    svg {
      width: 1.7em;
      height: auto;
    }

    a {
      transition: opacity 0.15s cubic-bezier(0.65, 0.05, 0.36, 1);
      will-change: opacity;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

/* 404 Page */

.page-not-found {
  .page {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
      font-size: 6rem;
      line-height: 1;
      margin: 0 0 1rem;

      @media screen and (min-width: 45.625em) {
        font-size: 10rem;
      }
    }

    p {
      line-height: 1.5;
      margin-bottom: 3rem;
    }

    a {
      text-decoration: underline;
    }
  }
}
