.halle {
	margin-bottom: 5em;
}

.halle-intro,
.halle-get {
	box-sizing: border-box;
	max-width: 75em;
	margin: 0 auto;
	width: 90%;
	padding: 2em 0;

	@media screen and (min-width: 50em) {
		padding: 5em 0;
	}

	p {
		font-size: 1.2em;
	}
}

.halle-intro {
	@media screen and (min-width: 50em) {
		display: flex;
		justify-content: space-between;
	}
}

.halle-intro-image {
	margin-bottom: 2em;

	@media screen and (min-width: 50em) {
		width: 50%;
		text-align: right;
		margin-bottom: 0;
	}

	img {
		display: block;
		margin: 0 auto;
		max-width: 22em;
		width: 100%;
		box-shadow: 0 3px 20px rgba(0,0,0,0.2);

		@media screen and (min-width: 50em) {
			display: inline-block;
		}
	}
}

.halle-intro-text {
	text-align: center;

	@media screen and (min-width: 50em) {
		width: 43%;
		padding: 8.4em 0 0;
		text-align: left;
	}

	h1 {
		font-weight: 500;
		font-size: 3em;
		margin-bottom: 0.05em;
	}

	.subhead {
		margin: 0 0 1.7em; 
	}
}

.halle-get {
	text-align: center;
	padding: 5em 0 3em;

	a {
		display: inline-block;
		padding: 0.75em 1.25em;
		border-radius: 5px;
		color: #fff;
		margin-right: 0.5em;

		&:last-child {
			margin-right: 0;
		}

		&.download-link {
			background: #160893;

			&:hover {
				background: darken(#160893, 12%);
			}
		}

		&.demo-link {
			background: #656565;

			&:hover {
				background: darken(#656565, 12%);
			}
		}
	}
}