.page-home {
    .page {
        padding-bottom: 2rem;
    }

    .intro {
        background: #3b18e3;

        .intro-text {
            max-width: 50em;
            margin: 0 auto;
            padding: 2em 0 2.5em;
            width: 90%;
            position: relative;
            color: #fff;

            @media screen and (min-width: 48em) {
                padding: 2em 0 3.8em;
                width: 80%;
                text-align: center;
            }
        }

        .headshot {
            width: 5rem;
            height: 5rem;
            margin-bottom: 1rem;
            border-radius: 50%;
            border: 3px solid #fff;

            @media screen and (min-width: 48em) {
                width: 6rem;
                height: 6rem;
                margin: 0 auto 1.1rem;
                display: block;
            }
        }

        p {
            font-size: 1.3rem;
            font-weight: 400;
            margin: 0 0 0.5em;
            line-height: 1.3;

            @media screen and (min-width: 48em) {
                margin: 0 0 1em;
                font-size: 1.6rem;
            }
        }

        .cta {
            font-size: 1.1rem;
            font-weight: 500;
            background: #fff;
            padding: 0.8rem 1.5rem;
            border-radius: 2rem;
            display: inline-block;

            &:hover {
                text-decoration: underline;
            }

            &::after {
                content: "";
                height: 13px;
                width: 8px;
                background: url("/img/arrow.svg") no-repeat;
                background-position: center;
                background-size: cover;
                margin-top: 0.1rem;
                margin-left: 0.5rem;
                display: inline-block;
            }
        }
    }

    .home-posts,
    .home-projects,
    .home-categories {
        margin: 0 auto;
        padding: 2.3rem 0 4rem;
        max-width: 42em;
        width: 90%;

        @media screen and (min-width: 28.125em) {
            padding: 3rem 0 4rem;
        }

        h2 {
            font-weight: 600;
            font-size: 1.6rem;
            margin: 0 0 2.5rem;
            color: #090909;

            @media screen and (min-width: 48em) {
                margin: 0.8rem 0 3rem;
                font-size: 2rem;
            }
        }
    }

    .home-posts,
    .home-projects {
        .post-list,
        .project-list {
            display: grid;
            grid-gap: 2em;
            margin: 0 0 1rem;
            padding: 0;

            @media screen and (min-width: 28.125em) {
                grid-gap: 3em;
            }

            li {
                box-sizing: border-box;
                border-radius: 0.5em;
                width: 100%;
                display: flex;
                flex-direction: column;
                margin: 0;
            }

            a {
                box-sizing: border-box;
                height: 100%;
                flex-grow: 1;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        h3 {
            font-size: 1.3em;
            font-weight: 400;
            line-height: 1.25;
            margin: 0;

            @media screen and (min-width: 28.125em) {
            font-size: 1.45em;
            }

            @media screen and (min-width: 62.5em) {
            font-size: 1.6em;
            }
        }

        .view-all {
            width: 100%;
            text-align: right;

            a {
                display: inline-block;
                font-size: 1.1rem;
                font-weight: 500;
                text-align: right;
                padding: 1em 0 1em 1.5em;
                color: #090909;

                &:hover {
                    text-decoration: underline;
                }

                &::after {
                    content: "";
                    height: 13px;
                    width: 8px;
                    background: url("/img/arrow.svg") no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-left: 0.5rem;
                    display: inline-block;
                }
            }
        }
    }

    .home-posts {
        padding-bottom: 1.5rem;

        @media screen and (min-width: 28.125em) {
            padding-bottom: 2.5rem;
        }
    }

    .home-categories {
        padding-top: 0;
        padding-bottom: 4rem;

        @media screen and (min-width: 28.125em) {
            padding-bottom: 5.5rem;
        }

        .categories-heading {
            font-size: 0.9rem;
            text-transform: uppercase;
            margin-bottom: 1.2rem;
        }
    }

    .home-projects {
        padding-top: 0;

        @media screen and (min-width: 60.25em) {
            padding-bottom: 4rem;
        }

        .project-list {
            grid-gap: 1.5em;

            @media screen and (min-width: 28.125em) {
                grid-gap: 2em;
            }

            @media screen and (min-width: 70em) {
                grid-template-columns: 1fr 1fr;
            }
        }

        li {
            padding-top: 1.25em;
            padding: 1em 1.2em;
            box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05);
            border: 1px solid #f4f4f4;

            @media screen and (min-width: 28.125em) {
                padding: 1.1em 1.6em 1.2em;
            }
        }

        h3 {
            font-size: 1.3em;
            margin-bottom: 0.3rem;

            @media screen and (min-width: 28.125em) {
            font-size: 1.5em;
            }
        }

        .project-description {
            line-height: 1.45;
            margin: 0;
            font-size: 1rem;
        }
    }
}
