
/* Home */

.home {
  padding: 0 0 10%;
}
.home h2 {
  font-size: 0.9em;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0 auto 40px;
  max-width: 800px;
	width: 92%;
  border-bottom: 1px solid #efefef;
}

/* Site Header */

.site-header {
  background: #1f2223;
  padding: 15px 4%;
  width: auto;
  @media screen and (min-width: 868px) {
    padding: 15px 25px;
  }
}
.site-header a {
  color: #fff;
  letter-spacing: 0.02em;
}
.site-title {
  text-transform: uppercase;
  color: #fff;
  float: left;
  margin: 0;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1;
  padding: 3px 0 0;
}
.site-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.site-header li {
  float: left;
  color: rgba(255, 255, 255, 0.92);
  margin-left: 20px;
  padding: 6px 0;
  text-transform: uppercase;
  font-size: 0.9em;

  &:first-child {
    margin-left: 0;
  }
}

/* Post List */

.post-list {
	max-width: 800px;
	width: 92%;
	padding: 45px 0;
	margin: 0 auto;
	list-style: none;
  @media screen and (min-width: 700px) {
    padding-top: 4%;
  }
}
.post-list li {
	margin-bottom: 60px;
}
.post-list h3 {
  font-size: 1.7em;
	font-weight: 400;
	margin: 0;
}
.post-list a:hover {
	text-decoration: underline;
}
.post-list .post-meta {
	font-size: 0.8em;
	letter-spacing: 0.3px;
	display: block;
	margin: 0 0 8px;
}
.post-list p {
	font-size: 1.2em;
	line-height: 1.5;
	margin: 1em 0;
}
.post-list .continue {
	display: inline-block;
	text-transform: uppercase;
	vertical-align: top;
	margin-top: 3px;
	background: #f0f0f0;
  color: #666;
	border-radius: 3px;
	font-size: 11px;
	padding: 3px 10px 2px;
	transition: 0.1s;
  letter-spacing: 0.8px;
}
.post-list .continue:hover {
	background: #E8E8E8;
	text-decoration: none;
}
.view-all-posts {
	text-align: center;
}
.view-all-posts a {
	border-radius: 5px;
	padding: 8px 25px;
	font-size: 12px;
	color: #666;
	background: #f0f0f0;
	text-transform: uppercase;
	transition: 0.1s;
	display: inline-block;
  letter-spacing: 0.5px;
  @media screen and (max-width: 500px) {
    background: none;
  }
}
.view-all-posts a:hover {
	background: #E8E8E8;
}
@media screen and (max-width: 500px) {
  .post-list h2 {
    font-size: 1.35em;
  }
  .post-list p {
    font-size: 1.15em;
  }
}

/* Post Page */

.post {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 0 120px;
  width: 92%;
  @media screen and (min-width: 868px) {
    padding: 4% 0 12%;
  }
}
.post .post-meta {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 10px;
}
.post-title {
  font-size: 2.2em;
  margin: 0 0 1em;
  font-weight: 400;
  @media screen and (max-width: 500px) {
    font-size: 1.6em;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 32px;
    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 26px;
    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
  p {
    font-size: 1.3em;
    line-height: 1.6;
    margin-bottom: 30px;
    @media screen and (max-width: 500px) {
      font-size: 1.1em;
    }
  }
  .last-updated {
  	text-transform: uppercase;
  	font-size: 0.8em;
  	margin: 3em 0 0;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.5em;
  }
  ul > li {
    margin-bottom: 15px;
    font-size: 1.3em;
    line-height: 1.6;
    @media screen and (max-width: 500px) {
      font-size: 1.1em;
    }
    pre {
      margin-top: 10px;
    }
    p {
      font-size: 1em;
    }
  }
  ul > li:before {
    display: block;
    float: left;
    content: "—";
    width: 1.2em;
    margin-left: -1.2em;
  }
  a {
    border-bottom: 3px solid gainsboro;
  }
  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }
}

/* About Page */

.about {
  max-width: 650px;
  margin: 40px auto 60px;
  width: 92%;
  @media screen and (min-width: 868px) {
    margin: 90px auto 50px;
  }
  img {
    max-width: 120px;
    border-radius: 50%;
    margin: 0 auto 25px;
    display: block;
  }
  h2 {
    font-size: 1.6em;
    margin-bottom: 35px;
    text-align: center;
  }
  p {
    margin: 0 auto 20px;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 1em 0;
  }
}

/* Site Footer */

footer {
	margin: 0 auto;
	padding: 100px 0 35px;
	clear: both;
	color: #999;
	text-align: left;
  @media screen and (max-width: 1020px) {
    max-width: 800px;
    width: 92%;
  }
  @media screen and (max-width: 700px) {
  	padding: 80px 0 6%;
  }
  .copyright {
  	margin: 0 0 0 45px;
  	padding: 0;
  	font-size: 0.8em;
    @media screen and (max-width: 1020px) {
      margin-left: 0;
    }
  }
  .contact {
  	list-style: none;
  	margin: 0 45px 0 0;
  	padding: 0;
  	font-size: 0.9em;
  	float: right;
    @media screen and (max-width: 1020px) {
      margin-right: 0;
    }
  }
  .contact li {
  	padding: 0;
  	margin: 0;
  	font-size: 0.8em;
  	display: inline-block;
  }
  .contact li:last-child {
  	margin-left: 20px;
  }
  .contact li a {
  	color: #999;
  	-webkit-transition: .1s linear;
  	transition: .1s linear;
  }
  .contact li a:hover {
  	color: #666;
  }
}

/* 404 Page */

.fourohfour {
	max-width: 1200px;
	width: 92%;
	margin: 50px auto 0;
	text-align: center;
	line-height: 1.5;
	font-size: 0.9em;
}
.fourohfour h2 {
	font-size: 4.04em;
	color: #515151;
	font-weight: 300;
	margin: 0;
}
.fourohfour a {
	text-decoration: underline;
}
