/* Site Header */

.site-header {
  padding: 1em 5%;
  width: auto;
  @media screen and (min-width: 54.25em) {
    padding: 1.2em 2.1em;
  }
}
.site-title {
  float: left;
  margin: 0;
  font-weight: 400;
  font-size: 1.4em;
  @media screen and (min-width: 28.125em) {
    font-size: 1.6em;
  }
  @media screen and (min-width: 62.5em) {
    font-size: 1.8em;
  }
}
.site-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.site-header li {
  float: left;
  color: rgba(255, 255, 255, 0.92);
  margin-left: 1.25em;
  padding: 0.25em 0 0;
  font-size: 1em;
  font-weight: normal;
  @media screen and (min-width: 21.875em) {
    margin-left: 1.56em;
  }
  @media screen and (min-width: 28.125em) {
    padding: 0.325em 0 0;
    font-size: 1.1em;
  }
  @media screen and (min-width: 62.5em) {
    font-size: 1.2em;
    padding: 0.4em 0 0;
  }

  &:first-child {
    margin-left: 0;
  }

  a:hover {
    text-decoration: underline;
  }
}

/* About Intro */

.about-intro {
  margin: 2.5em auto;
  width: 90%;
  @media screen and (min-width: 45em) {
    max-width: 40em;
    margin: 3.75em auto;
    text-align: center;
    width: 75%;
  }
  p {
    font-size: 1.3rem;
    line-height: 1.5;
    @media screen and (min-width: 28.125em) {
      font-size: 1.4rem;
    }
    @media screen and (min-width: 45em) {
      font-size: 1.6rem;
    }
  }
  a {
    display: inline-block;
    padding: 0.6em 1.2em;
    border-radius: 0.2em;
    background: #f2f2f2;
    box-shadow: 0 0.25em 0.375em rgba(155, 154, 180, 0.3);
    text-transform: uppercase;
    color: #2e2e2e;
    font-size: 0.75rem;
    transition: 0.2s;
    @media screen and (min-width: 28.125em) {
      padding: 0.8em 1.7em;
      font-size: 0.85rem;
    }
    &:hover {
      background: #f6f6f6;
      transform: translateY(-1px);
      box-shadow: 0 0.25em 0.375em rgba(155, 154, 180, 0.4);
    }
  }
}

/* Post List */

.post-list {
  list-style: none;
	max-width: 50em;
	margin: 0 auto;
	padding: 1.875em 0 7.5em;
  width: 90%;
  @media screen and (min-width: 54.25em) {
    padding: 4% 0 12%;
  }
  .post-list-heading {
    font-size: 0.8rem;
    margin: 0 0 2.5em;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 28.125em) {
      font-size: 0.9rem;
    }
  }
  .see-all {
    text-align: center;
    a {
      text-transform: uppercase;
      font-size: 0.85rem;
      display: inline-block;
      padding: 0.8em 3em;
    }
  }
}
.post-list li {
	margin-bottom: 2.5em;
  @media screen and (min-width: 28.125em) {
    margin-bottom: 4em;
  }
}
.post-list h2 {
  font-size: 1.3em;
	font-weight: 400;
	margin: 0;
  @media screen and (min-width: 28.125em) {
    font-size: 1.45em;
  }
  @media screen and (min-width: 62.5em) {
    font-size: 1.6em;
  }
}
.post-list a:hover {
	text-decoration: underline;
}
.post-list .post-meta {
	font-size: 0.8em;
	display: block;
	margin: 0 0 0.625em;
  @media screen and (min-width: 37.5em) {
    font-size: 1em;
  }
}
.post-list p {
	font-size: 1.05em;
	line-height: 1.5;
	margin: 0.8em 0;
  @media screen and (min-width: 28.125em) {
    font-size: 1.3em;
  }
}
.post-list.home li:last-of-type {
  margin-bottom: 2.2em;
}

/* Post Page */

.post {
  margin: 0 auto;
  max-width: 50em;
  padding: 1.875em 0 7.5em;
  width: 90%;
  @media screen and (min-width: 54.25em) {
    padding: 4% 0 12%;
  }
}
.post .post-meta {
  font-size: 0.8em;
  margin: 0 0 0.625em;
  @media screen and (min-width: 37.5em) {
    font-size: 1em;
  }
}
.post-title {
  font-size: 1.5em;
  margin: 0 0 0.92em;
  font-weight: 400;
  @media screen and (min-width: 37.5em) {
    font-size: 1.8em;
  }
  @media screen and (min-width: 62.5em) {
    font-size: 2.2em;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 1.4em;
    @media screen and (min-width: 37.5em) {
      font-size: 1.6em;
    }
  }
  h3 {
    font-size: 1.3em;
    font-weight: 400;
    @media screen and (min-width: 37.5em) {
      font-size: 1.5em;
    }
  }
  h4 {
    font-size: 1.05em;
    @media screen and (min-width: 37.5em) {
      font-size: 1.2em;
    }
    @media screen and (min-width: 62.5em) {
      font-size: 1.4em;
    }
  }
  p {
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 1.8rem;
    @media screen and (min-width: 37.5em) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 62.5em) {
      font-size: 1.4rem;
    }
  }
  .last-updated {
  	text-transform: uppercase;
  	font-size: 0.8em;
  	margin: 3em 0 0;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 2em;
    margin-bottom: 1.8rem;
    font-size: 1.05rem;
    @media screen and (min-width: 37.5em) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 62.5em) {
      font-size: 1.4rem;
    }
  }
  ul > li {
    margin-bottom: 1em;
    line-height: 1.6;
    pre {
      margin-top: 0.625em;
    }
  }
  ul > li:before {
    display: block;
    float: left;
    content: "—";
    width: 1.2em;
    margin-left: -1.2em;
  }
  a {
    text-decoration: underline;
  }
  strong {
    font-weight: normal;
  }
  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }
}

/* About Page */

.about {
  max-width: 50em;
  margin: 0 auto;
  padding: 1.875em 0 7.5em;
  width: 90%;
  @media screen and (min-width: 54.25em) {
    padding: 4% 0 12%;
  }
  h2 {
    font-size: 1.5em;
    margin: 0 0 1em;
    font-weight: 400;
    @media screen and (min-width: 37.5em) {
      font-size: 1.8em;
    }
    @media screen and (min-width: 62.5em) {
      font-size: 2.2em;
    }
  }
  p {
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 1.8rem;
    @media screen and (min-width: 37.5em) {
      font-size: 1.3rem;
    }
  }
  a {
    text-decoration: underline;
  }
}

/* 404 Page */

.fourohfour {
	max-width: 75em;
	width: 90%;
	margin: 3.2em auto 0;
	text-align: center;
	line-height: 1.5;
	font-size: 0.9em;
}
.fourohfour h2 {
	font-size: 4.04em;
	color: #515151;
	font-weight: 300;
	margin: 0;
}
.fourohfour a {
	text-decoration: underline;
}
