.page-header {
    background: rgba(69, 106, 199, 0.03);
    border-bottom: 1px solid rgba(29, 31, 36, 0.04);
    padding: 2rem 0;

    @media screen and (min-width: 48em) {
        padding: 3rem 0;
    }
}

.page-title {
    margin: 0 auto;
    max-width: 42rem;
    width: 90%;
}