.page-header {
    background: #141924;
    padding: 2rem 0;

    @media screen and (min-width: 48em) {
        padding: 3rem 0;
    }

    @media (prefers-color-scheme: dark) {
        background: rgba(34, 57, 114, 0.2);
    }
}

.page-title {
    margin: 0 auto;
    max-width: 42rem;
    width: 90%;
    color: #fff;
}