.photo-list {
	max-width: 40em;
	margin: 0 auto;
	padding: 1.875em 0 7.5em;
	width: 90%;

	@media screen and (min-width: 54.25em) {
		padding: 5% 0 12%;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 3.5em;
		}
	}
}

.photo-caption {
	margin: 1em 0;
	text-transform: uppercase;
	font-size: 0.75rem;
	color: #a5a5a5;
}