.post-list {
	max-width: 40em;
	margin: 0 auto;
	padding: 1.875em 0 7.5em;
  width: 90%;
  @media screen and (min-width: 54.25em) {
    padding: 5% 0 12%;
  }
  .post-list-heading {
    font-size: 0.8rem;
    margin: 0 0 2.5em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    @media screen and (min-width: 28.125em) {
      font-size: 0.9rem;
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 2.5em;
    }
  }
}
.post-list h2 {
  font-size: 1.3em;
  font-weight: 400;
	margin: 0;
  @media screen and (min-width: 28.125em) {
    font-size: 1.45em;
  }
  @media screen and (min-width: 62.5em) {
    font-size: 1.6em;
  }
}
.post-list a:hover {
	text-decoration: underline;
}
.post-list .post-meta {
	font-size: 0.75em;
	display: block;
	margin: 0 0 0.625em;
  text-transform: uppercase;
  color: #858495;
}
.post-list p {
	font-size: 1.05em;
	line-height: 1.5;
	margin: 0.8em 0;
  @media screen and (min-width: 28.125em) {
    font-size: 1.25em;
  }
}
.post-list.home li:last-of-type {
  margin-bottom: 2.2em;
}

/* Post Page */

.post {
  margin: 0 auto;
  max-width: 40em;
  padding: 1.875em 0 7.5em;
  width: 90%;
  @media screen and (min-width: 45.625em) {
    padding: 5% 0 12%;
  }
}
.post .post-meta {
  font-size: 0.8em;
  margin: 0 0 0.625em;
  text-transform: uppercase;
  color: #858495;
}
.post-title {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0 0 1em;
  font-weight: 400;
  @media screen and (min-width: 37.5em) {
    font-size: 2.2em;
    line-height: 1.25;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  h2 {
    font-size: 1.4em;
    font-weight: 400;
    @media screen and (min-width: 37.5em) {
      font-size: 1.6em;
    }
  }
  h3 {
    font-size: 1.3em;
    font-weight: 400;
    @media screen and (min-width: 37.5em) {
      font-size: 1.5em;
    }
  }
  h4 {
    font-size: 1.05em;
    font-weight: 400;
    @media screen and (min-width: 37.5em) {
      font-size: 1.1em;
    }
    @media screen and (min-width: 62.5em) {
      font-size: 1.25em;
    }
  }
  p {
    font-size: 1.05rem;
    line-height: 1.6;
    margin-bottom: 1.8rem;
    @media screen and (min-width: 37.5em) {
      font-size: 1.1rem;
    }
    @media screen and (min-width: 62.5em) {
      font-size: 1.25rem;
    }
    code {
      font-size: 1rem;
      @media screen and (min-width: 37.5em) {
        font-size: 1.1rem;
      }
    }
  }
  .last-updated {
  	text-transform: uppercase;
  	font-size: 0.8em;
  	margin: 3em 0 0;
  }
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 1.3em;
    margin-bottom: 1.8rem;
    font-size: 1.05rem;
    @media screen and (min-width: 37.5em) {
      font-size: 1.1rem;
    }
    @media screen and (min-width: 62.5em) {
      font-size: 1.25rem;
    }
  }
  ul > li {
    margin-bottom: 1em;
    line-height: 1.6;
    pre {
      margin-top: 0.625em;
    }
  }
  ul > li:before {
    display: block;
    float: left;
    content: "—";
    width: 1.2em;
    margin-left: -1.2em;
  }
  a {
    text-decoration: underline;
  }
  strong {
    font-weight: normal;
  }
  code {
    font-family: Monaco, Consolas, 'Andale Mono', 'Ubuntu Mono', monospace;
  }
}
.about-me {
  position: relative;
  box-shadow: 0 0.15em 0.8em 0 rgba(85, 105, 122, 0.1);
  border-radius: 0.2em;
  background: #fff;
  margin: 3em -0.3em 0;
  padding: 1.2em;

  @media screen and (min-width: 30em) {
    padding: 1.1em 1.2em 1.2em 7.08em;
    margin: 3em -0.6em 0;
  }

  img {
    width: 3.125em;
    border-radius: 0.2em;
    margin-bottom: 0.8em;

    @media screen and (min-width: 30em) {
      width: 4.68em;
      position: absolute;
      left: 1.2em;
      margin: 0.1em 0 0;
    }
  }

  p {
    margin: 0;
    line-height: 1.45;
  }

  .name {
    margin-bottom: 0.2em;
    font-weight: 500;
    font-size: 1.125em;
  }

  a {
    text-decoration: underline;
  }
}
