.project-list {
    h2 {
        margin-bottom: 0.4rem;
    }

    .project-description {
        font-size: 1.1em;
        line-height: 1.45;
        margin: 0;
    }
}

.page-projects {
    .post-list {
        > ul {
            display: grid;
            grid-gap: 2.5em;

            @media screen and (min-width: 45em) {
                grid-gap: 4em;
            }

            > li {
                padding: 1.6em 1.8em;
                margin: 0;
                border-radius: 0.5em;
                border: 1px solid #e3e3e3;
                display: flex;
                flex-direction: column;

                *:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .project-title {
            margin-bottom: 0.3rem;
            font-weight: 500;
        }

        .project-description {
            font-size: 1.125rem;
            margin-bottom: 2rem;
        }

        .project-links {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2.25rem;
        }

        .project-link {
            margin: 0 1.5rem 0 0;
            font-size: 1.125rem;
            font-weight: 400;

            &:last-child {
                margin-right: 0;
            }

            a::after {
                content: "";
                display: inline-block;
                width: 0.5em;
                height: 0.5em;
                background: url("/img/out.svg") no-repeat;
                background-size: contain;
                vertical-align: middle;
                margin-top: -0.2rem;
                margin-left: 0.3rem;
            }
        }

        .related-post-heading {
            text-transform: uppercase;
            font-weight: 700;
            font-size: 0.8rem;
            margin: auto 0 0.3em;
        }

        .related-post-title {
            margin: 0;
        }
    }
}
