.stlmetrolink {
	background: rgb(51,198,244);
	background: -moz-linear-gradient(-45deg,  rgb(51,198,244) 0%, rgb(45,69,152) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgb(51,198,244)), color-stop(100%,rgb(45,69,152)));
	background: -webkit-linear-gradient(-45deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	background: -o-linear-gradient(-45deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	background: -ms-linear-gradient(-45deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	background: linear-gradient(135deg,  rgb(51,198,244) 0%,rgb(45,69,152) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33c6f4', endColorstr='#2d4598',GradientType=1 );
}
.stlmetrolink header,
.stlmetrolink footer {
	background: none;
  box-shadow: none;
}
.stlmetrolink .toggle img {
	-webkit-filter: contrast(200%);
	filter: contrast(200%);
}
.stlmetrolink .name a,
.stlmetrolink header a {
	color: #fff;
}
.stlmetrolink .project {
	color: #fff;
	margin: 7% auto;
	width: 92%;
	text-align: center;
}
.stlmetrolink .project img {
	width: 200px;
	padding: 0 0 30px;
}
@media screen and (max-width: 500px) {
	.stlmetrolink .project img {
		width: 150px;
	}
}
.stlmetrolink .project h2 {
	text-align: center;
	font-weight: 300;
	margin: 0 0 10px;
}
.stlmetrolink .project .type {
	text-transform: uppercase;
	font-size: 0.75em;
	text-align: center;
	margin: 0 0 50px;
}
.stlmetrolink .desc {
	max-width: 640px;
	margin: 0 auto;
	text-align: center;
	padding: 30px 0 0;
}
.stlmetrolink .desc p {
	color: rgba(255,255,255,0.9);
	margin: 0 0 1.4em;
	width: 100%;
}
.stlmetrolink .desc p a {
	color: rgba(255,255,255,0.7);
	transition: color 0.1s;
}
.stlmetrolink .desc p a:hover {
	color: rgba(255,255,255,0.9);
}
a.launch-stlmetrolink {
	display: inline-block;
	padding: 10px 25px;
	background: rgba(49, 141, 203, 0.78);
	text-transform: uppercase;
	color: rgba(255,255,255,0.9);
	margin: 10px 0 30px;
	border: 1px solid rgba(255,255,255,0.3);
	transition: border 0.1s;
	border-radius: 3px;
}
a.launch-stlmetrolink:hover {
	border-color: rgba(255,255,255,0.5);
}
.stlmetrolink .article-link {
	font-size: 1em;
}
.stlmetrolink footer,
.stlmetrolink .contact li a {
	color: rgba(255,255,255,0.85);
}
.stlmetrolink .contact li a:hover {
	color: rgba(255,255,255,0.5);
}
