/*
* Reading List
*/
.page-reading-list {
	.post {
		padding-bottom: 5%;
	}
}

#app {
	position: relative;
	padding-top: 2em;
}

.status-toggle-wrap {
	display: flex;
	margin-bottom: 2em;

	input {
		display: none;
	}

	.status-toggle {
		width: 50%;
		border-bottom: 2px solid #eee;
		text-align: center;

		&.active {
			border-color: #333;

			label {
				color: #404040;
			}
		}

		@media (prefers-color-scheme: dark) {
			border-color: $dark-mode-border-color;

			&.active {
				border-color: #fff;

				label {
					color: #fff;
				}
			}
		}
	}

	label {
		font-size: 0.9em;
		font-weight: 500;
		line-height: 1;
		display: block;
		color: #727272;
		text-transform: uppercase;
		padding: 0.6em 0.7em 0.65em;
		cursor: pointer;

		@media (prefers-color-scheme: dark) {
			color: rgba(255, 255, 255, 0.3);
		}
	}
}

.loading {
	position: absolute;
	top: 4.2em;
	left: 0;
	width: 100%;
	height: 100%;

	svg {
		animation: rotate 1.8s linear infinite;
		width: 1.25em;
		position: absolute;
		top: 2em;
		left: 0;
		right: 0;
		margin: 0 auto;
		display: block;
	}
}

ul.book-list {
	list-style: none;
	margin: 0 0 2.5rem;
	padding: 0;

	li {
		line-height: 1.3;
		padding-right: 2.5rem;
		position: relative;
	}

	.book-title {
		margin-bottom: 0;
		font-weight: 400;
	}

	.author {
		font-size: 1rem;
	}

	.favorite {
		position: absolute;
		top: 0.37rem;
		right: 0;
		background: url('/img/favorite.svg');
		background-repeat: no-repeat;
		background-size: contain;
		width: 1.25rem;
		height: 1rem;

		@media (prefers-color-scheme: dark) {
			background-image: url('/img/favorite-reverse.svg');
		}

		@media screen and (min-width: 37.5rem) {
			top: 0.55rem;
		}
	}
}

.book-list-nav {
	text-align: center;

	button {
		background: $dark-mode-background;
		border: 1px solid $dark-mode-background;
		border-radius: 3px;
		font-size: 1em;
		padding: 0.4em 0.8em 0.43em;
		margin: 0 0.5em;
		color: #fafafa;
		cursor: pointer;

		@media (prefers-color-scheme: dark) {
			background: #fff;
			color: $dark-mode-background;
		}

		&:disabled {
			opacity: 0.3;
			cursor: default;
		}
	}
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}