.next-spacex-launch {
	background: url(/img/projects/spacex-bg-small.jpg) black no-repeat center;
	background-size: cover;
	color: #fff;
	position: relative;

	@media screen and (min-width: 62.5em) {
		background-image: url(/img/projects/spacex-bg-large.jpg);
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: rgba(0,0,0,0.7);
	}

	.post {
		box-sizing: border-box;
		max-width: 100%;
		width: 100%;
		padding: 2em 5% 3.5em;
		position: relative;
		z-index: 1;

		@media screen and (min-width: 54.25em) {
			padding: 5%;
		}
	}

	.post-header {
		text-align: center;
	}

	.loading-state {
		text-align: center;
		min-height: 8.875rem;
		position: relative;
		margin-bottom: 3em;

		svg {
			animation: rotate 1.8s linear infinite;
			width: 1.25em;
			position: absolute;
			top: calc(50% - 0.75em);
			left: calc(50% - 0.75em);
		}
	}

	.next-launch {
		padding: 1.5em;
		border: 1px solid rgba(255,255,255,0.2);
		border-radius: 0.5em;
		margin-bottom: 3em;
		display: grid;

		@media screen and (min-width: 62.5em) {
			grid-template-columns: 1fr 3fr;
		}
	}

	.next-launch-date {
		margin: 0;
	}

	.next-launch-time {
		margin: 0 0 0.5em;
	}

	.launch-details ul {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin: 0;
		}

		.detail-title {
			text-transform: uppercase;
			font-size: 0.75em;
			letter-spacing: 0.03em;
			color: #9f9f9f;
			padding-right: 0.1em;
		}
	}

	.upcoming-launches {
		padding: 1.5em;
		border: 1px solid rgba(255,255,255,0.2);
		border-radius: 0.5em;
		margin-bottom: 3em;

		.launches {
			list-style: none;
			margin: 0;
			padding: 0;

			> li {
				margin-bottom: 1.5em;
				display: grid;

				@media screen and (min-width: 62.5em) {
					grid-template-columns: 1fr 3fr;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.launch-date {
			margin: 0;
			font-size: 1em;
		}

		.launch-time {
			margin: 0 0 0.3em;
			font-size: 0.8em;
		}

		.launch-detail {
			font-size: 1.1rem;
		}
	}

	.data-source {
		text-align: center;

		p {
			margin: 0;
		}

		a {
			color: #fff;
		}
	}

	.data-source-heading {
		text-transform: uppercase;
		font-weight: 600;
		font-size: 0.9em;
	}

	.photo-credit {
		position: absolute;
		left: 1.18em;
		bottom: 1em;
	}
}