.page-work {
    img {
        display: block;
        border-radius: 0.2rem;
        margin-bottom: 1.2rem;
    }

    h2 {
        font-size: 1.8rem;
        margin-top: 0;
        margin-bottom: 2.5rem;
    }

    h3 {
        font-size: 1.4rem;
        line-height: 1.25;
        margin-bottom: 0.2rem;
    }

    p {
        font-size: 1.125rem;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.work-group {
    padding-bottom: 3rem;

    &::after {
        content: '';
        display: inline-block;
        width: 100%;
        height: 0.3rem;
        background-color: $color-less-dark;
        border-radius: 0.15rem;
    }

    &:last-child {
        &::after {
            content: none;
        }
    }

    ul {
        list-style: none;
        margin: 0 0 3rem;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        grid-gap: 3rem;
        font-size: 1.125rem;

        ul {
            display: block;
            margin-bottom: 1.4rem;
        }
    }
}