body {
	font-size: 100%;
	background: rgb(243,45,51);
	background: -moz-linear-gradient(top,  rgb(243,45,51) 0%, rgb(40,45,48) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(243,45,51)), color-stop(100%,rgb(40,45,48)));
	background: -webkit-linear-gradient(top,  rgb(243,45,51) 0%,rgb(40,45,48) 100%);
	background: -o-linear-gradient(top,  rgb(243,45,51) 0%,rgb(40,45,48) 100%);
	background: -ms-linear-gradient(top,  rgb(243,45,51) 0%,rgb(40,45,48) 100%);
	background: linear-gradient(to bottom,  rgb(243,45,51) 0%,rgb(40,45,48) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f32d33', endColorstr='#282d30',GradientType=0 );
	color: #FFF;
}
a {
	color: #FFF;
}
header {
	width: 95%;
	max-width: 800px;
	margin: 0 auto;
	padding: 40px 0;
	background: rgba(243,45,51,0.2);
	box-sizing: border-box;
}
header h1 {
	font-size: 5em;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-align: center;
}
ul {
	list-style: none;
	width: 95%;
	max-width: 800px;
	margin: 0 auto 100px;
	padding: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: rgba(243,45,51,0.2);
	box-sizing: border-box;
}
li h2 {
	font-size: 2em;
	margin: 0;
	padding: 0;
}
li p {
	font-weight: 300;
	padding: 0px 0 20px 20px;
	margin: 0;
	font-size: 1.3em;
}
@media screen and (max-width: 400px) {
	header h1 {
		font-size: 2.5em;
	}
	ul {
		padding: 20px;
	}
	li h2 {
		font-size: 1.5em;
	}
	li p {
		font-size: 1em;
	}
}