<!DOCTYPE html>
{% include 'head.html' %}
{% assign slug = title | slugify | downcase | prepend: 'page-' %}

{% if page.collection == "posts" %}
    {% assign type = page.collection | slugify | prepend: ' type-' %}
{% else %}
    {% assign type = '' %}
{% endif %}

{% if page.width == "full" %}
    {% assign width = ' full-width' %}
{% else %}
    {% assign width = '' %}
{% endif %} 

<body class="{{ slug }}{{ type }}{{ width }}">
    {% include 'header-home.html' %}
    <main class="page">
        {{ content }}
    </main>
    {% include 'footer.html' %}
</body>