---
layout: default
---
<article class="post">

  <header class="post-header">
    <p class="post-meta"><time>{{ page.date | date: "%B %-d, %Y" }}</time></p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {% unless page.categories == empty %}
  <ul class="categories-list">
    {% for category in page.categories %}
    <li><a
        href="/category/{{ category | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endunless %}

  <div class="about-me">
    <img src="/img/samhermes.jpg" alt="Sam Hermes">
    <div class="about-me-text">
      <p class="name">Sam Hermes</p>
      <p class="description">I'm a front-end developer in St. Louis. I write about CSS, WordPress,
        JavaScript, accessibility, and more.</p>
      <p><a href="/about">More About Me</a></p>
    </div>
  </div>
</article>