---
layout: default
---
<article class="post">

  <header class="post-header">
    <p class="post-meta"><time>{{ page.date | date: "%B %-d, %Y" }}</time></p>
    <h2 class="post-title">{{ page.title }}</h2>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="about-me">
  	<img src="/img/samhermes-175.jpg" srcset="/img/samhermes-350.jpg 2x, /img/samhermes-525.jpg 3x" alt="Sam Hermes">
  	<p class="name">Sam Hermes</p>
  	<p class="description">I'm a web developer at Washington University in St. Louis. I write about WordPress, PHP, CSS, SVG, and more.</p>
  </div>
</article>
