---
layout: default
---
<article class="post">

  <header class="post-header">
    <p class="post-meta"><time>{{ page.date | date: "%B %-d, %Y" }}</time></p>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="about-me">
    <img src="/img/samhermes.jpg" alt="Sam Hermes">
    <div class="about-me-text">
    	<p class="name">Sam Hermes</p>
    	<p class="description">I'm a web developer at Washington University in St. Louis. I write about WordPress, CSS, JS, accessibility, and more.</p>
    </div>
  </div>
</article>
